<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name ="ConnHR" connectionString="Data Source=LAPTOP-6FIM74JD\SQLEXPRESS;Initial Catalog=HR; Integrated Security=true"/>-->
		<add name ="ConnHR" connectionString="Data Source=LAPTOP-6FIM74JD\SQLEXPRESS;database=HR; Integrated Security=true"/>

	</connectionStrings>

</configuration>